.wrap{
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
}

.container{
    display: inline-block;
    width: 30%;
}

h1{
    color: black;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.box{
    border: 50%;
    height: 40px;
    width: 40px;
    margin: 30px auto;
    
}

.wrap:hover .box{
    transform: matrix(1, -1, 0, 1, 0, 0);
    
}

.box1{
    background: grey;
    transition: 3s;
    
}

.box2{
    background: orangered;
    transition: 4s;
    
}

.box3{
    background: green;
    transition: 6s;
    
}